a{
    cursor: pointer;
}
.container-fluid{width: 100%;height: 469px;background: #ffffff}
.container-fluid .content-container{width: 990px;height: 469px;margin-left: 179.5px}
.container-fluid .content-container .login-img{width: 560px;height: 419px;margin-top: 50px;float: left}
.container-fluid .content-container .login{width: 310px;height: auto;margin-top: 50px; margin-right: 110px; border:1px solid #c5c3bc;float: right}
.nav{
    font-family: 微软雅黑,serif;
    font-weight: bold;
}
.text{
    padding-left: 30px;
    font-family: 微软雅黑,serif;
    font-weight: bold;
}
.login-input{
    margin-left: 30px;
    width: 250px;
}
.login-input input{
    width: 230px;
}
.username-error{
    color: red;
}
.password-error{
    color: red;
}
.login_submit{
    margin-left: 30px;
    margin-top: 20px;
}
.login_submit input{
    width: 244px;
    height: 30px;
}
.submit{
    background: #ff871b;
    letter-spacing: 1px;border-radius: 2px;
    font-family: 微软雅黑,serif;
    color: #f3f0e9;
    font-weight: bolder;
    border: 0;
}
.submit:hover{
    background: #ffa628;
}
/*底部*/
.footer{
    width: 100%;
    height: 81px;
    border-top: 1px solid #c5c3bc;
    /*transform: translateY(-40px);*/
}
footer ul li{float: left;font-size: 14px;color: #ccc;list-style: none;margin-top: 20px;}
.footer .footer-ul{margin-left: 23%}
.footer .driver{width: 20px}
.footer .ali{transform: translateX(-450px);padding-top: 20px;color: #093807}
